<div class="grid">
  <div>
    <h1><%= header[0] %></h1>
    <p><%= paragraph[0] %></p>
  </div>
  <div>
    <h1><%= header[1] %></h1>
    <p><%= paragraph[1] %></p>
  </div>
  <div>
    <h1><%= header[2] %></h1>
    <p><%= paragraph[2] %></p>
  </div>
</div>